/*ID Style Rules*/

#menu {
	margin-top: 95px;
	margin-bottom: 95px;
}

#headline h4, #headline h6 {
	display: none;
}
#headline img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#row_footer {
	text-align: center;
	font-size: 0.75em;
}
#myphoto img{
	display: block;
	padding-top: 10px;
	padding-left: 11px;
}
#myphoto {
	background-image: url(../images/bg_portrait.jpg);
	background-repeat: no-repeat;
	width: 293px;
	height: 293px;
	margin: 10px auto;
}
#contactForm {padding-top: 20px;}
#work_details {
	width: 305px;
	margin: 0 auto;
	padding-top: 20px;
}

#contact_form {padding-top: 20px;}

#screen_options {
	border-color: white; 
	border-style: solid; 
	border-width: 1px;
	width: 300px;
	height: 150px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-bottom: 10px;
}

#screen_options h4 {
	text-align: center;
}

#screen_options li {
	list-style-type: none;
	float: left;
	margin-right:30px;
}

/*Class Style Rules*/
.content-primary {margin-top: 30px;}
.content-primary img {
	margin-left: 5px;
	margin-top: 2px;
}
.content-primary h3 {padding-top: 15px;}
.mobile_badges {line-height: 1.8em;}
.error {
	margin-left: 50px;
	color: red;
}
.textfield {margin-top: 10px;}
.submission_results {margin: 0 auto;}